:root {
  --background-color: #FFF3DD;
  --navbar-color: var(--secondary-text);
  --text-color: var(--logo-background);
  --secondary-color: #6c757d;
  --secondary-text: #269577;
  --logo-background: #f4d548;
  --question-text: var(--logo-background);
  --answer-text: orange;
  background-color: var(--background-color);

}

body {
  margin: 0;
  padding: 0;

}